html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    background: #fff;
    margin: 0;
}

.site {
    background: #fff;
    max-width: 1920px;
    min-width: 1140px;
    margin: 0 auto;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

.logo {
    float: left;
    display: block;
    background: url('../img/logo.png') no-repeat;
    width: 125px;
    height: 67px;
    margin-top: 15px;
}

.menu ul {
    font-weight: 700;
    list-style: none;
    padding: 0;
    margin: 0;

}

.menu li {
    position: inherit;
    float: left;
}

.menu li:hover > a,
.menu a:hover {
    height: 97px;
    border-bottom: 2px solid #ffce4b;
}

.menu li:hover ul {
    display: block;
}

.menu a {
    display: block;
    color: #2e3d44;
    text-decoration: none;
    line-height: 100px;
    height: 100px;
    padding: 0 35px;
}

.menu-cont {
    height: 100px;
}

.menu {
    height: 100px;
    overflow: hidden;
}

.header-contact__telephone {
    float: right;
    margin-top: 40px;
}

.header-contact__telephone {
    color: #3da3f1;
    font-size: 20px;
    font-weight: bold;
}

.header-2 {
    position: relative;
    height: 800px;
    background: url('../img/header-1.jpg') 
    no-repeat 50% 0;
    background-attachment: fixed;
}

.header-2 .wrapper {
    position: relative;
    z-index: 1;
}

.order-info__title {
    position: relative;
    top: 250px;
    color: #fff;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.order-info__dscrp {
    margin-top: 280px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: medium;
}

.btn-long {
    background: #ffce4b;
    height: 55px;
    width: 300px;
    line-height: 55px;
    text-align: center;
    color: #2e3d44;
    font-size: 16px;
    font-weight: 700;
    margin: 40px auto;
    border-radius: 3px;
    box-shadow: 0 2px 0 #d6ad41;
}

/* SECTIONS 
======================== */

.colortext {
    color: #3da3f1;
}

.section {
    padding: 150px 0;
}

.section-about .section-title {
    position: relative;
}

.section-about .item-left-side {
    position: relative;
    float: left;
    width: 340px;
    margin-left: 15px;
    margin-right: 15px;
}

/* dscrp of about
=========================*/

.section-about {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #2e3d44;
    height: 500px;
}

/* about txt
=========================*/

.section-about .item-dscrpt {
    font-size: 14px;
    font-weight: 300;
    line-height: 18pt;
    text-align: center;
    color: #9bb2ba;
    margin-top: 30px;
}

.section-about .item-title {
    z-index: 1;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #2e3d44;
    margin-top: 45px;
}

.section-about .under-title {
    z-index: -1;
    top: -85px;
    position: relative;
    color: #e9f4f7;
    font-size: 80px;
}

.section-about .item-content {
    float: left;
    font-size: 14px;
    font-weight: 300;
    color: #9b9b9b;
    margin-top: 45px;
    text-align: center;
}

/* all about img icons 
=========================*/

.section-about .item .item-img {
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100px;
    margin-top: 100px;
}

.section-about .item.item-1 .item-img {
    background-image: url('../img/moving-img-1.png');
}

.section-about .item.item-2 .item-img {
    background-image: url('../img/professional-img-2.png');
}

.section-about .item.item-3 .item-img {
    background-image: url('../img/honest-img-3.png');
}

/* new shit #2 
==========================*/

.section-prices {
    position: relative;
    background: url('../img/bg-prices-2.jpg') 
    no-repeat 50% 0;
    text-align: center;
    font-weight: 600;
    height: 700px;
}

.section-prices .wrapper {
    position: relative;
}

.section-prices .section-title--prices {
    z-index: 1;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #2e3d44;
}

.section-prices .under-title {
    z-index: 0;
    top: -135px;
    position: relative;
    color: #e9f4f7;
    font-size: 80px;
}

.section-prices .item-left-side {
    position: relative;
    float: left;
    width: 340px;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
}

.section-prices .item-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #2e3d44;
    margin: 40px auto;
}

.section-prices .item-dscrpt {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 60px;
    color: #3da3f1;
    margin: 20px auto;
}

.section-prices .item-content {
    float: left;
    font-size: 16px;
    font-weight: 500;
    color: #2e3d44;
    text-align: center;
    margin: 20px auto;
}

.section-prices .item__button {
    background: #ffce4b;
    height: 55px;
    width: 195px;
    line-height: 55px;
    text-align: center;
    color: #2e3d44;
    font-size: 16px;
    font-weight: 700;
    margin: 100px auto;
    border-radius: 3px;
    box-shadow: 0 2px 0 #d6ad41;
}

.bg_prices {
    background: #fff;
    float: left;
    width: 340px;
}

.section-prices .order-dscrpt {
    color: #2e3d44;
    text-align: center;
    font-size: 16px;
    font-weight: medium;
}

.section-prices .order-dscrpt-button {
    background: #ffce4b;
    height: 55px;
    width: 240px;
    line-height: 55px;
    text-align: center;
    color: #2e3d44;
    font-size: 16px;
    font-weight: 700;
    margin: 30px auto;
    border-radius: 3px;
    box-shadow: 0 2px 0 #d6ad41;
}

/* new */

.section-offers {
    position: relative;
    background: url('../img/bg-offers-3.jpg') 
    no-repeat 50% 0;
}

.section-offers .section-title--offers {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.section-offers .under-title {
    z-index: 0;
    top: -90px;
    position: relative;
    text-align: center;
    opacity: 0.1;
    color: #fff;
    font-size: 80px;
}

.section-offers .wrapper {
    position: relative;
    z-index: 1;
}

.section-offers .item .offer-img {
    background-repeat: no-repeat;
    background-position: center center;
    width: 262px;
    height: 300px;
}

.section-offers .item.offer-1 .offer-img {
    background-image: url('../img/offers-img-1.jpg');
}

.section-offers .item.offer-2 .offer-img {
    background-image: url('../img/offers-img-2.jpg');
}

.section-offers .item-offer-left {
    position: relative;
    float: left;
    width: 540px;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.section-offers .offer-title {
    color: #3da3f1;
    font-size: 18px;
    font-weight: 500;
}

.section-offers .offer-content {
    z-index: 2;
    color: #6b6b6b;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.section-offers .offer-txt {
    z-index: 3;
    padding: 40px;
    background: #fff;
    width: 365px;
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.1);
}

