@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .logo {
     background-image :url('../img/logo@2x.png');
     background-size: 469px 62px;
  }
  
  .footer-logo {
     background-image :url('../img/footer-logo@2x.png');
     background-size: 469px 62px;
  }

  .section-title {
     background-image :url('../img/line-bg@2x.png');
     background-size: 206px 3px;
  }

}